
@{
    ViewData["Title"] = "Praias";
}

<head>
    <link href="~/css/praias.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <br />
    <center><p id="titulo" style=" font-weight: 500; font-size:26px; padding-top:15px;" >CONHEÇA MAIS SOBRE <b>ILHABELA</b> E SUAS PRAIAS!</p></center>



<section id="praias" >

    
    <section id="p1" >

  
            <img src="@Url.Content("~/img/historia.png")" alt="História" style="width: 400px; " />
            <img src="@Url.Content("~/img/castelhanos.png")" alt="História" style="width: 400px; margin-left:60px;" />
        
    </section>

    <section id="p2" >


            <img src="@Url.Content("~/img/feiticeira.png")" alt="História" style="width: 400px; " />
            <img src="@Url.Content("~/img/pereque.png")" alt="História" style="width: 400px; margin-left:60px;" />

    </section>
    <section id="p3">


            <img src="@Url.Content("~/img/curral.png")" alt="História" style="width: 400px; " />
            <img src="@Url.Content("~/img/jabaquara.png")" alt="História" style="width: 400px; margin-left:60px; " />

    </section>

    
</section>
</body>
